{% extends "base.html" %}

{% block content %}

<div class="bg-white p-6 rounded-xl shadow-sm">

    <h2 class="text-lg font-semibold mb-4 text-gray-700">
        Vehicle Entry Form
    </h2>

    <form method="POST" class="space-y-3">
        {% csrf_token %}

        <input name="vehicle_no"
               placeholder="Vehicle Number"
               class="border border-gray-300 p-2 w-full rounded-lg text-sm focus:outline-pink-300">

        <input name="name"
               placeholder="Name"
               class="border border-gray-300 p-2 w-full rounded-lg text-sm focus:outline-pink-300">

        <input name="address"
               placeholder="Address"
               class="border border-gray-300 p-2 w-full rounded-lg text-sm focus:outline-pink-300">

        <input name="vehicle_type"
               placeholder="Vehicle Type (2 or 4)"
               class="border border-gray-300 p-2 w-full rounded-lg text-sm focus:outline-pink-300">

        <button class="w-full bg-pink-400 text-white py-2 rounded-lg hover:bg-pink-500 transition">
            Submit
        </button>
    </form>

</div>

{% endblock %}
