{% extends "base.html" %}

{% block content %}

<div class="bg-white p-6 rounded-xl shadow-sm text-center">

    <h2 class="text-xl font-semibold mb-5 text-gray-700">
        Welcome to Parking System 🚗
    </h2>

    <a href="/enter/"
       class="block bg-pink-400 text-white py-2 rounded-lg mb-3 hover:bg-pink-500 transition">
        Vehicle Entry
    </a>

    <a href="/bill/"
       class="block bg-purple-400 text-white py-2 rounded-lg hover:bg-purple-500 transition">
        Generate Bill
    </a>

</div>

{% endblock %}
