*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-color{
    color: red;
}

.empty-container{
    max-width: 500px;
    padding: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0,0.2);
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}